In [148]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [149]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1869,tt0211181,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,5.0,2000
698,tt1014775,20000000,149281606,Beverly Hills Chihuahua,Drew Barrymore|Piper Perabo|Andy GarcÃ­a|Georg...,Raja Gosnell,50% Warrior. 50% Lover. 100% Chihuahua.,A pampered Beverly Hills chihuahua named Chloe...,91,Adventure|Comedy|Family,Walt Disney Pictures,10/3/2008,5.1,2008
1490,tt0424345,5000000,26888376,Clerks II,Brian O'Halloran|Jeff Anderson|Jason Mewes|Kev...,Kevin Smith,With No Power Comes No Responsibility,A calamity at Dante and Randall's shops sends ...,97,Comedy,The Weinstein Company|View Askew Productions,5/25/2006,6.9,2006
1351,tt0366627,29000000,21126225,The Jacket,Adrien Brody|Keira Knightley|Kris Kristofferso...,John Maybury,Terror has a new name.,A military veteran goes on a journey into the ...,103,Drama|Mystery|Thriller|Fantasy,Section Eight|Mandalay Pictures|VIP 3 Medienfo...,3/4/2005,6.6,2005
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008

In [150]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [151]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [152]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [153]:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [154]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

In [155]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [156]:
data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [157]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [158]:
data['runtime'].mean()

109.6585494970884

In [159]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [160]:
data['runtime'].median()

107.0

In [161]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [162]:
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [163]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [164]:
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [165]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [166]:
len(data[data['revenue'] > data['budget']])

1478

In [167]:
len(data[data['profit'] > 0])

1478

In [168]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [169]:
data[data['release_year'] == 2008].sort_values('revenue').tail(1)[['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [170]:
data[data['revenue'] == data[data['release_year'] == 2008]['revenue'].max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [171]:
data2008 = data[data['release_year'] == 2008]
data2008[data2008['revenue'] == data2008['revenue'].max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [172]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [173]:
data2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
data2012_2014[data2012_2014['profit'] == data2012_2014['profit'].min()][['original_title', 'imdb_id', 'release_year']]

       original_title    imdb_id  release_year
1245  The Lone Ranger  tt1210819          2013

In [174]:
data[data['profit'] == data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [175]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [176]:
from collections import defaultdict

count_genres_1 = defaultdict(int)

for genres in data['genres']:
    for count in genres.split('|'):
        count_genres_1[count] += 1

sorted(count_genres_1.items(), key=lambda x: x[1], reverse=True)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 2

In [177]:
count_genres_2 = {}

for genres in data['genres']:
    for count in genres.split('|'):
        if count in count_genres_2.keys():
            count_genres_2[count] +=1
        else:
            count_genres_2.setdefault(count, 1)

sorted(count_genres_2.items(), key=lambda x: x[1], reverse=True)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 3

In [178]:
pd.DataFrame(data['genres'].str.split('|').tolist()).stack().value_counts().head(1)

Drama    782
dtype: int64

In [179]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [180]:
pd.DataFrame(data[data['profit'] > 0]['genres'].str.split('|').tolist()).stack().value_counts().head(1)

Drama    560
dtype: int64

In [181]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [182]:
#Создаем DataFrame с раскладкой режиссеров по фильмам
data_director = pd.DataFrame(pd.DataFrame(data['director'].str.split('|').tolist()).stack())
data_director.reset_index(level=0, inplace=True)
data_director.columns = ['index','director']

#Создаем DataFrame с раскладкой сборов по фильмам
data_profit = pd.DataFrame(data['revenue'])
data_profit.reset_index(level=0, inplace=True)

#Объединяем созданные датафреймы, определяя для режиссеров сборы по каждому фильму
joined = data_director.merge(data_profit, on='index', how='left')

#Группируем сборы по режиссерам (суммируя сборы при этом, если режиссер работал по нескольким фильмам)
director_profit = joined.groupby(['director']).sum().sort_values(by='revenue', ascending=False)
director_profit.head(1)

               index     revenue
director
Peter Jackson   6329  6490593685

ВАРИАНТ 2

In [183]:
def director_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for count in df.iloc[i]['director'].split('|'):
            summ[count] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Revenue'])

director_revenue(data).sort_values(by=['Revenue'], ascending = False).head(1)

                  Revenue
Peter Jackson  6490593685

In [184]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [185]:
def director_action(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i]['director'].split('|'):
            if 'Action' in df.iloc[i]['genres']:
                summ[j] += 1
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Action'])

director_action(data).sort_values(by=['Action'], ascending = False).head(1)

                  Action
Robert Rodriguez       9

In [186]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [187]:
def cast_revenue(df, year):
    df_in_year = df[df['release_year'] == year]
    summ = Counter()
    for i in range(len(df_in_year)):
        for count in df_in_year.iloc[i]['cast'].split('|'):
            summ[count] += df_in_year.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Revenue'])

cast_revenue(data, 2012).sort_values(by=['Revenue'], ascending = False).head(1)

                    Revenue
Chris Hemsworth  2027450773

In [188]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [189]:
def cast_max_budget(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i]['cast'].split('|'):
            summ[j] += 1
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Max_budget'])

cast_max_budget(data[data['budget'] > data['budget'].mean()]).sort_values(by=['Max_budget'], ascending = False).head(1)

            Max_budget
Matt Damon          18

In [190]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [191]:
count_genres = Counter()

for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres += Counter(x)

count_genres.most_common(1)

[('Action', 17)]

In [192]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [193]:
data[data.production_companies.str.contains("Paramount Pictures")][['original_title','profit']].sort_values(by=['profit']).head(1)

           original_title    profit
925  K-19: The Widowmaker -64831034

In [194]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [195]:
data.groupby(['release_year']).sum().sort_values(by=['revenue'], ascending = False).head(1)

,budget,revenue,runtime,vote_average,profit,month
release_year,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842

In [196]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [197]:
data[data.production_companies.str.contains("Warner Bros")].groupby(['release_year']).sum().sort_values(by=['profit'], ascending = False).head(1)

                 budget     revenue  runtime  vote_average      profit  month
release_year
2014          947600000  3243064519     1576          88.9  2295464519     89

In [198]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [199]:
data['month'].value_counts().head(1)

9    227
Name: month, dtype: int64

In [200]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [201]:
len(data.query('month in ["6", "7", "8"]'))

450

In [202]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [203]:
pd.DataFrame(data.query('month in ["12", "1", "2"]')['director'].str.split('|').tolist()).stack().value_counts().head(1)

Peter Jackson    7
dtype: int64

In [204]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [205]:
def counter_companies(df, x):
    companies_array = df[x].str.cat(sep = '|')
    companies = pd.Series(companies_array.split('|'))
    info = companies.value_counts(ascending=False)
    return info

data['long_title'] = data['original_title'].map(lambda x: len(x))

long_title = counter_companies(data,'production_companies')

for companies in long_title.index:
    long_title[companies] = data['long_title'][data['production_companies'].map(lambda x: True if companies in x else False)].mean()

pd.DataFrame(long_title).sort_values(0, ascending=False).head(1)

                          0
Four By Two Productions  83

In [206]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [207]:
def counter_companies(df, x):
    companies_array = df[x].str.cat(sep = '|')
    companies = pd.Series(companies_array.split('|'))
    info = companies.value_counts(ascending=False)
    return info

data['long_word_overview'] = data['overview'].map(lambda x: len(x.split(' ')))

long_word_overview = counter_companies(data,'production_companies')

for companies in long_word_overview.index:
    long_word_overview[companies] = data['long_word_overview'][data['production_companies'].map(lambda x: True if companies in x else False)].mean()

pd.DataFrame(long_word_overview).sort_values(0, ascending=False).head(1)

                         0
Midnight Picture Show  175

In [208]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [209]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)][['imdb_id', 'original_title', 'vote_average']]

        imdb_id                                 original_title  vote_average
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
119   tt2015381                        Guardians of the Galaxy           7.9
125   tt2084970                             The Imitation Game           8.0
128   tt2267998                                      Gone Girl           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
370   tt1375666                                      Inception           7.9
599   tt0468569                                The Dark Knight           8.1
872   tt0253474                                    The Pianist           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1191  tt2024544                               12 Years a Slave           7.9
1800  tt0209144                                        Memento           7.9

In [210]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [211]:
from itertools import combinations

actors_list = data['cast'].str.split('|').tolist()

combo_list=[]

for i in actors_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))

combo_list = pd.DataFrame(combo_list, columns=['actor_combinations'])
combo_list.actor_combinations.value_counts().head(4)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Name: actor_combinations, dtype: int64

In [212]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [213]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [214]:
# и убедиться что ни чего не пропустил)
len(answers)

27